/* Box Model Hack */
/* * {
  box-sizing: border-box;
} */

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: rgb(190, 8, 245);
  text-align: center;
}

#cache {
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  position: fixed;
  /* border: 3px solid red; */
}

#game-container {
  width: 42vw;
  height: 42vw;
  margin: 1vw auto;
  background-color: black;
  border: solid 10px rgb(1, 121, 241);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px black;
}

#scoreContainer {
  width:  40vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.scoreBoard {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 10px;
  border: solid 5px rgb(1, 121, 241);
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px;
  width: 20%;
  box-shadow: 0px 0px 20px 3px black;
}

.game-board-pixel {
  width: 6vw;
  height: 6vw;
  border-radius: 5px;
  float: left;
  outline: 1px solid red;
}

div.tim {
  background-color: whitesmoke;
}

div.target {
  background-color: goldenrod;
}

.obstacle {
  background-color: rgb(86, 3, 3)
}

/* .valid {
  background-color: aquamarine;
} */

.clicked {
  background-color: green;
}

div.blacked-out {
  background-color: black;
}